<div class="container mt-5">
    <div style="text-align: center">
        <h1>Welcome</h1>
        <p class="lead text-muted">
            Come on in to view a fullstack demonstration of my development skills and experience...<br />
            This single page application is powered by combination of both frontend frameworks and cloud backend resources. <br />
            This opportunity shows my ability to understand user requirements, design and implement an elegant, understandable, maintainable and tested code.
        </p>
        <p class="lead text-center">
            Steven Leung
        </p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg mb-3" [routerLink]="['/demo']">Try Demo Web App</button>
        </div>

        <div class="text-small text-muted mt-3">
            This single page application is crafted using the following (all the good stuff):
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-md text-center">
            <h5>Back End Skills</h5>
            <ul class="list-unstyled text-small">
                <li class="text-muted">Cloud "Serverless" Development</li>
                <li class="text-muted">Rest API</li>
                <li class="text-muted">Domain Name Registration</li>
                <li class="text-muted">Website Hosting</li>
            </ul>
        </div>

        <div class="col-12 col-md text-center">
            <h5>Front End Tech</h5>
            <ul class="list-unstyled text-small">
                <li class="text-muted">Angular (v8+)</li>
                <li class="text-muted">Bootstrap (v4.5+)</li>
                <li class="text-muted">Typescript</li>
                <li class="text-muted">HTML, CSS, Javascript</li>
                <li class="text-muted">Node Package Manager</li>
            </ul>
        </div>
        
        <div class="col-12 col-md text-center">
            <h5>Other Practices Utilised</h5>
            <ul class="list-unstyled text-small">
                <li class="text-muted">Unit Testing</li>
                <li class="text-muted">Dependency Injection</li>
            </ul>
        </div>
    </div>
</div>